DATABASE_URL=postgresql://postgres.zlxnbgunolfelmadshcw:XZhpPGnB6OJtAz4R@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require

FLASK_SECRET_KEY=thisisourproject

ADMIN_PASSWORD=Admin1234
MEMBER_PASSWORD=Member1234
VIEWER_PASSWORD=Viewer1234